    .navbarStyle {
        padding-top: 5px;
        padding-left: 5px;
        background-color: rgba(24, 62, 75, 0.207);
        margin-bottom: 20px;
    }
    
    .navigationMenu {
        padding-top: 8px;
    }
    
    .navbarBrand {
        font-weight: bold;
        color: rgba(39, 63, 73, 0.842);
        font-size: 15px;
        cursor: pointer;
    }
    
    .navbarButtons {
        margin-top: 5px;
    }
    
    .table_row {
        cursor: pointer;
    }
    
    .read_call_row {
        margin-top: 70px;
    }
    
    .call_error {
        color: brown;
        font-weight: bold;
        font-size: 15px;
        font-style: italic;
    }
    
    .read_call_info span,
    .panel-heading-call {
        font-weight: bold;
        font-size: 16px;
        font-style: oblique;
        letter-spacing: 1px;
    }
    
    .glyph {
        float: right;
        padding-left: 12px;
        padding-top: 3px;
        cursor: pointer;
    }
    
    .glyph-edit {
        color: green;
    }
    
    .glyph-delete {
        color: brown;
    }
    
    .modal_window {
        margin-top: 30vh;
    }
    
    .delete_call_button:hover {
        text-decoration: none;
    }
    
    .btn_add_call {
        float: right;
    }
    
    .call_input,
    .call_select,
    .call_date_input {
        margin-left: 8px;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 3px;
        width: 55%;
        padding: 3px;
    }
    
    .border_red {
        border: 1px solid brown;
    }
    
    .help-block {
        font-size: 12px;
    }
    
    .content {
        margin-top: 50px;
    }
    
    .button_go_back {
        margin-bottom: 10px;
    }
    
    .button_view_user {
        float: right;
    }
    
    .table_five {
        margin-top: 30px;
    }
    
    .show-user-container {
        margin-top: -80px;
    }
    
    .table-calls,
    .table-calls thead tr th,
    .table-calls tbody tr td {
        border: 1px solid lightgray;
    }
    
    .table-calls thead {
        background-color: rgb(237, 237, 237);
    }
    
    .view_user_class {
        color: gray;
        float: right;
        text-decoration: underline;
    }
    
    .view_glyph {
        float: right;
        display: none;
    }
    
    .view_option:hover span {
        display: inline;
    }
    
    .upload_form {
        margin: 40px auto;
    }
    
    .upload_button {
        margin-top: 40px;
    }
    
    .float_right {
        float: right;
    }
    
    .message {
        color: rgb(126, 177, 51);
        font-weight: bold;
        font-size: 16px;
        text-align: start;
    }
    
    .message {
        animation: signup-response 0.8s 1;
        -webkit-animation: signup-response 0.8s 1;
        animation-fill-mode: forwards;
        animation-delay: 2s;
        -webkit-animation-delay: 1s;
        /* Safari and Chrome */
        -webkit-animation-fill-mode: forwards;
    }
    
    @keyframes signup-response {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    
    @-webkit-keyframes signup-response {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }